*{ /*o asterisco seleciona todos as tags do html*/
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

ul {
  list-style: none; /*tira as bolinhas das listas*/
}

a {
  text-decoration: none;
}

